body{
    background-color:rgb(28, 28, 36) ;
    background-image: url(../../images/bg.png);
   
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   
  
}
  
input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   
  
}
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #AB63A2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #9B2B8D;
    transform: translateX(5%);
   
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .container{
    display: flex;
    align-items: center;
    max-width: 1450px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(39, 38, 38);
    color: aliceblue;
  }
  .main{
     display: flex;
    align-items: center;
    max-width: 2000px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
  }
   .alert{
    width: 92%;
    background-color: rgb(6, 255, 6);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: black;
    display: none;
   }